<div class="jumbotron">
    <h1>PDVSeven</h1>
    <p class="lead">Automação Comercial para Bares e Restaurantes</p>
    <p>Web Services Fiscal: SAT / NFCe</p>
    <p><a href="https://www.pdvseven.com.br" class="btn btn-primary btn-lg">Saiba mais&raquo;</a></p>
</div>