<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=pdvseven.database.windows.net;Initial Catalog=PDV7_Ativacao;Persist Security Info=false;User ID=pdv7;Password=Q1&amp;1sT2J^yWqcD7L" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPRemetente" value="contato@pdvseven.com.br"/>
    <add key="SMTPSenha" value="ccoo!!2233"/>
    <add key="SMTPUsuario" value="contato@pdvseven.com.br"/>
    <add key="SMTPEnableSsl" value="true"/>
    <add key="SMTPHost" value="smtp.office365.com"/>
    <add key="SMTPPorta" value="587"/>
    <add key="SMTPUseDefaultCredentials" value="false"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <httpRuntime targetFramework="4.6.1" executionTimeout="600" maxRequestLength="30000" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>