<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="a7D.PDV.AutoAtendimento.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <a7D.PDV.AutoAtendimento.UI.Properties.Settings>
            <setting name="EnderecoAPI2" serializeAs="String">
                <value>http://192.168.77.110:7777/</value>
            </setting>
            <setting name="Tela" serializeAs="String">
              <value>2</value>
            </setting>
            <setting name="Idioma" serializeAs="String">
              <value>pt_BR</value>
            </setting>
            <setting name="Layout" serializeAs="String">
              <value />
            </setting>
        </a7D.PDV.AutoAtendimento.UI.Properties.Settings>
    </applicationSettings>
    <connectionStrings>
      <add name="connectionString" connectionString="Data Source=192.168.77.110\PDV7;Initial Catalog=PDV7;Persist Security Info=false;User ID=pdv7;Password=pdv@77" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>