<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="AtivacaoContext" connectionString="Data Source=pdvseven.database.windows.net;Initial Catalog=PDV7_Ativacao;Persist Security Info=True;User ID=pdv7;Password=Q1&amp;1sT2J^yWqcD7L" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPfrom" value="suporte@pdvseven.com.br" />
    <add key="DestinatariosOffline" value="fabio@pdvseven.com.br" />
    <add key="DestinatariosTemporaria" value="fabio@pdvseven.com.br,adm@pdvseven.com.br" />
    <add key="DestinatariosDuplicidade" value="milton@pdvseven.com.br" />
    <!-- Monitoramento e controle de erros -->
    <add key="ErrosNotificar" value="E" />
    <add key="ErrosVersaoMin" value="2.20.4.5" />
    <add key="ErrosCodigoIgnorar" value="C" />
    <add key="ErrosMensagemIgnorar" value="provider: TCP Provider|Execution Timeout Expired|O nome remoto não pôde ser resolvido|Não é possível acessar um objeto descartado|Cannot access a disposed object|provider: SQL Network Interfaces|A cadeia de caracteres de entrada|[A|[6099] Erro desconhecido na emissao" />
    <add key="ErrosDestinatarios" value="suporte@pdvseven.com.br" />
    <add key="ErrosDEV" value="milton@pdvseven.com.br" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!-- Maximum request length exceeded: Padrão 4MB, valor em bytes 30 MB, e timeout de 10 minutos-->
    <httpRuntime targetFramework="4.6.1" executionTimeout="600" maxRequestLength="30000" />
  </system.web>
  <!--<webServices>
    <protocols>
      <clear/>
      <add name="HttpSoap"/>
      <add name="HttpSoap12"/>
      <add name="Documentation"/>
    </protocols>
  </webServices>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
    
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="contato@pdvseven.com.br">
        <network host="smtp.office365.com" port="587" userName="suporte@pdvseven.com.br" password="l7g3x8$@#" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>