<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=.\PDV7;Initial Catalog=PDV7;Persist Security Info=false;User ID=pdv7;Password=pdv@77" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="APIPagSeven" value="http://localhost:7770/" />
    <!--<add key="APIPagSeven" value="http://pagseven.pdvseven.com.br/" />-->
    <add key="APIPagSevenAlterarRespostaConsulta" value="api/consulta/resposta" />
    <!-- adicionar-> / {idConsulta}-->
    <add key="APIPagSevenGetConsultas" value="api/consulta" />
    <!-- adicionar-> /{idConsulta}?dataMinima={data}-->
    <add key="APIPagSevenGetPagamentosPendentes" value="api/pagamentos-pendentes" />
    <!-- adicionar-> /{idEstabelecimento}?dataMinima={data}-->
    <add key="APIPagSevenGetPagamentosAutorizados" value="api/pagamentos-autorizados" />
    <!-- adicionar-> /{idEstabelecimento}?dataMinima={data}-->
    <add key="APIPagSeven_PagamentoAlterarStatusIntegracao" value="api/pagamento/status-integracao" />
    <add key="APIPagSevenPedido" value="api/pedido" />
    <add key="APIPagSevenFecharPedido" value="api/pedido/fechar/{idPedido}/{idEstabelecimento}" />
    <add key="IDUsuarioPagSeven" value="1" />
    <add key="IDPDVPagSeven" value="3" />
    <add key="ChaveAcessoPagSeven" value="9933" />
    <add key="EnderecoAPI2" value="http://localhost:7777/" />
    <add key="API2_PedidoPorID" value="api/pedidos" />
    <add key="API2_AlterarStatusComanda_ContaSolicitada" value="api/pedidos/{idPedido}/conta-solicitada" />
    <add key="API2_Pagamento" value="api/pagamentos" />
    <add key="API2_FecharPedido" value="api/pedidos/{idPedido}/fechar" />
    <add key="API2_ContaRecebivel" value="api/contarecebivel" />
    <add key="API2_ContaRecebivelPutCodigoIntegracao" value="api/conta-recebivel/codigo-integracao" />
    <add key="API2_PedidosAbertos" value="api/pedidos/abertos" />
    <add key="APIMyFinance" value="https://app.myfinance.com.br" />
    <add key="PasswordMyFinance" value="X" />
    <add key="NTKPorta" value="9000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- UDP Server-->
    <add key="SQLServer" value="." />
    <add key="WS2Server" value="." />
  
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>