<div class="modal-header">
    <button class="close" type="button" ng-click="vm.fechar()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">Ações disponíveis para {{ vm.ativacao.Cliente.Nome }} <small>({{ vm.ativacao.ChaveAtivacao }})</small></h4>
</div>
<div class="modal-body">
    <ativacao-offline-e ativacao="vm.ativacao"></ativacao-offline-e>
    <liberar-tempoariamente ativacao="vm.ativacao"></liberar-tempoariamente>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" data-dismiss="modal" ng-click="vm.fechar()">OK</button>
</div>