<div class="modal-header">
    <button class="close" type="button" ng-click="vm.modal.fechar()">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ vm.modal.titulo }}</h4>
</div>
<div class="modal-body">
    <form ng-if="!vm.sucesso" name="formulario" novalidate>
      <div class="form-group" ng-class="{'has-error': formulario.email.$dirty && !formulario.email.$valid}">
        <label for="emailInput" class="control-label">E-mail:</label>
        <input required type="email" name="email" ng-model="vm.email" class="form-control" id="emailInput">
      </div>
      <span style="display: none">{{ vm.valido = formulario.$valid}}</span>
    </form>
    <p ng-if="vm.sucesso">Você receberá um e-mail com as instruções para redefinir a senha em breve.</p>
</div>
<div class="modal-footer">
    <button ng-if="!vm.sucesso" class="btn" ng-class="[vm.modal.negativo.classe, {disabled: vm.processando}]" type="button" data-dismiss="modal" ng-click="!vm.processando && vm.modal.negativo.acao()">{{ vm.modal.negativo.texto }}</button>
    <button ng-if="!vm.sucesso" class="btn" ng-class="[vm.modal.positivo.classe, {disabled: vm.processando || !vm.valido }]" type="button" data-dismiss="modal" ng-click="(!vm.processando && vm.valido) && vm.modal.positivo.acao()">{{ vm.modal.positivo.texto }}</button>
    <img ng-if="vm.processando && !vm.sucesso" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button ng-if="vm.sucesso" ng-click="vm.ok()" class="btn btn-primary" type="button">Ok</button>
</div>