<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Core" version="1.6.4" targetFramework="net462" />
  <package id="bootstrap" version="3.3.7" targetFramework="net461" />
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net462" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net462" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net462" />
  <package id="CefSharp.WinForms" version="57.0.0" targetFramework="net462" />
  <package id="Chart.js" version="2.5.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="jQuery" version="3.1.1" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="MoreLinq.Source.MoreEnumerable.DistinctBy" version="1.0.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="ngTable" version="3.0.1" targetFramework="net462" />
  <package id="numeral" version="2.0.4" targetFramework="net461" />
  <package id="numeral.languages" version="2.0.4" targetFramework="net461" />
</packages>