<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=.\PDV7;Initial Catalog=pdv7;Persist Security Info=false;User ID=pdv7;Password=pdv@77" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="SincProdutos" value="false"/>
    <add key="SincPedidos" value="true"/>
    <add key="OrdemImpressao" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
