<style>
    body {
        background-color: black;
        color: white;
    }

    button {
        width: 90%;
        background: transparent !important;
    }
</style>
<br /><br />
<div class="jumbotron text-center" style="background: transparent !important" onclick="location.href='/pesquisa'">
    <h1>
        Obrigado
        <br /><br />
        Volte sempre
    </h1>
</div>
<script>
    setTimeout(function () {
        window.location = "/pesquisa";
    }, 5000);
</script>
