<div class="jumbotron">
    <h1>BigData PDV7</h1>
    <p class="lead">Base de conhecimento para Iaago.</p>
    <p><a href="http://www.pdvseven.com.br" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>
